<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Admin</h1>
    <a href="{% url 'all' %}"><button>view all user</button></a>
    <a href="{% url 'hall' %}"><button>view all hall</button></a>
    <a href="{% url 'food' %}"><button>view food</button></a>
    <a href="{% url 'viewd' %}"><button>view decoration</button></a>
    <a href="{% url 'adminviewbooking' %}"><button>manage booking</button></a>
</body>
</html>